.logoImg {
  height: 40px;
  width: 40px;
}
.wrap_code {
  text-align: center;
  content: "";
  background: url("https://saarthi-drag-drop-games.web.app/assets/logo.jpg");
  opacity: 0.8;
  top: 30px;
  left: 351px;
  bottom: 0px;
  right: 350px;
  position: absolute;
  z-index: -1;
}
.opc {
  opacity: 0.9;
}
.fontWht {
  margin: 15px;
}
